/*google font*/
.body {
  font-family: "Titillium Web", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;

  padding: 20px;
  transition: color 0.5s;
}

.header__nav {
  display: none;
  justify-items: center;
  background-color: black;
  padding: 30px;
  width: 65%;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  border-radius: 20px;
}
.header__nav--li {
  grid-template-rows: auto;
  list-style-type: none;
  align-items: center;
  align-content: center;
  a {
    color: black;
    text-decoration: black;
  }
}

.border {
  margin: 10px;
  border-style: groove;
  margin-right: 100px;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}
.footer {
  background-color: white;
  height: 10px;
  text-align: center;
  justify-content: stretch;
  align-items: flex-start;
}
