.column {
  width: 50%;
  height: 10%;
  background-color: black;
  padding: 20px;
  margin: 30px;


}
.column__container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  margin-top: 30px;


.contfooter {
  background-color:violet;
  padding: 10px;
}
